<h1>Show Rating</h1>

<ul>

  <li>
    <strong>Mark:</strong>
    <%= @rating.mark %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.rating_path(@conn, :edit, @rating) %></span>
<span><%= link "Back", to: Routes.rating_path(@conn, :index) %></span>
